@using static TemaCrm.Controllers.FiyatGorController;
@model List<FiyatList>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Panel/_Panel.cshtml";
}


<br />
<a class="btn btn-blue btn-xs" href="Index">Barkod Okut</a> 
<br />
<br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"> 
                <table id="BayiMain" class="table table-striped dt-responsive nowrap w-100 table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>Stok Kodu</td>
                            <td>Stok Adı</td>
                            <td>Barkod</td>
                            <td>Birim</td>
                            <td>Liste Fiyatı</td>
                            <td>İşlemler</td>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.STOK_NO</td>
                                <td>@item.STOK_KODU</td>
                                <td>@item.STOK_ADI</td>
                                <td>@item.BARKOD</td>
                                <td>@item.BIRIM (@item.BIRIMX)</td>
                                <td>@item.LISTE_FIYATI ₺</td> 
                                <td><a href="/Product/UpdateProduct/@item" class="btn btn-success btn-xs">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<script src="~/assets/js/vendor.min.js"></script>

<!-- third party js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
<script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
<!-- third party js ends -->
<!-- Datatables init -->
<script src="~/assets/js/pages/datatables.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.min.js"></script>

<script>
    $('#BayiMain').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json",
        },
        "pageLength": 10,
        "order": [],
        "autoWidth": false
    });

</script>